@font-face {
  font-family: "deja";
  src: url(C:\WINDOWS\FONTS\DEJAVUSANSMONO.TTF)
}


  @font-face{
      font-family: "Lobster";
      src: url(C:USERS\PCC-12\APPDATA\LOCAL\MICROSOFT\\WINDOWS\FONTS\LOBSTER-REGULAR.TTF)
  }

 body {font-family: "deja", sans-serif}

#title{
    font-family:"Lobster";
    font-size:96px;
    /* margin-left: 850px; */
    color:#fbd703;
    margin-top: -175px;

    float:right;
    margin-right:15px;

 

 
}

#foot{
  width:100%;
  
}

.login{
    float: right;
    border-radius: 5px;
   padding-left:25px;
   padding-right:25px;
   margin-right: 5px;
   
}


/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.butt{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}
/* modal */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}




.btns{
   background-color: #fbd703;
   opacity: 0.6;
   border-radius: 5px;
}



/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
 
}



input:hover,
.btn:hover {
  opacity: 1;
}


.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}




.col {

  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}





.hide-md-lg {
  display: none;
}


/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
 
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

#logintext{
    color:#fbd703;
    text-decoration: none;
    
}

#hoot1, #hoot2, #hoot3{
  width: 50%;
}



/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #fbd703;
  color: darkslategray;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  bottom: 10px;
  right: 0px;
  width: 280px;
  border-radius: 10px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #fbd703;
  color: darkslategray;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #e24b0d;
  
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#winner{
background-color: #04AA6D;
animation-name: winner;
animation-duration: 6s;
animation-iteration-count: infinite;
}

@keyframes winner{
  0%{
    background-color: #04AA6D;
  }
  20%{
    background-color: #3B5998;
  }
  40%{
    background-color:#dd4b39;
  }
  60%{
    background-color:#fbd703;
  }
  80%{
    background-color:coral;
  }
  100%{
    background-color:rebeccapurple;
  }
}

#winmodal{
  height: 700px;
  width: 1250px;
}

#winbutt{
  margin-top: 50px;

}

.winpics{
  margin-top: 10px;
  padding: 5px;
}

#welcome{
  /* position: relative;
  top: 90%;
  right: 50%; */

  padding-top: 10px;
  font-size: 72px;
  color: #fbd703;
  font-family: "Lobster";
}

.page{
  position:relative;
  top: --50px;
}